In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

## Importamos nuestro csv 'rental' para chequeo de valores nulos y duplicados

In [3]:
data_ori = pd.read_csv('/Users/christelllameda/ironhack/Proyecto-Nro-2/data/csv_originales/language.csv', encoding='latin1')

data = data_ori.copy()

In [4]:
data.head()

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19

In [5]:
nan_cols = data.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

## Verificamos que no existan lenguajes duplicados

In [6]:
duplicates = data[data['name'].duplicated(keep=False)]
duplicates

Empty DataFrame
Columns: [language_id, name, last_update]
Index: []

## La columna last_update posee los mismos valores para todas las filas, por lo que no es relevante y la eliminamos

In [7]:
data = data.drop(columns=['last_update'])

## Exportamos nuestro archivo limpio

In [8]:
data.to_csv('language_clean.csv', index=False, sep='\t')