In [2]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

## Vamos a importar nuestro csv 'old_HDD' para chequear valores nulos o duplicados

In [19]:
data_ori = pd.read_csv('/Users/christelllameda/ironhack/Proyecto-Nro-2/data/csv_originales/old_HDD.csv', encoding='latin1')

data = data_ori.copy()

In [38]:
data

    first_name last_name                  title  release_year  category_id
0     PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1     PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2     PENELOPE   GUINESS            ANGELS LIFE          2006           13
3     PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4     PENELOPE   GUINESS          CHEAPER CLYDE          2006           14
..         ...       ...                    ...           ...          ...
995     GOLDIE     BRODY      COMANCHEROS ENEMY          2006            3
996     GOLDIE     BRODY        DAISY MENAGERIE          2006           14
997     GOLDIE     BRODY        DESERT POSEIDON          2006           11
998     GOLDIE     BRODY         EVERYONE CRAFT          2006            9
999     GOLDIE     BRODY         EXORCIST STING          2006           15

[1000 rows x 5 columns]

In [21]:
nan_cols = data.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

In [22]:
data.duplicated().any()

False

In [46]:
dictio = {1 : 'Action', 2: 'Animation', 3: 'Children', 4: 'Classics', 5: 'Comedy',
          6: 'Documentary',7: 'Drama', 8: 'Family', 9: 'Foreign', 10: 'Games', 11: 'Horror',
          12: 'Music', 13: 'New', 14: 'Sci-Fi', 15: 'Sports', 16: 'Travel'}

In [47]:
data['category'] = data['category_id'].map(dictio)

In [48]:
data

,first_name,last_name,title,release_year,category_id,category
0,PENELOPE,GUINESS,ACADEMY DINOSAUR,2006,6,Documentary
1,PENELOPE,GUINESS,ANACONDA CONFESSIONS,2006,2,Animation
2,PENELOPE,GUINESS,ANGELS LIFE,2006,13,New
3,PENELOPE,GUINESS,BULWORTH COMMANDMENTS,2006,10,Games
4,PENELOPE,GUINESS,CHEAPER CLYDE,2006,14,Sci-Fi
...,...,...,...,...,...,...
995,GOLDIE,BRODY,COMANCHEROS ENEMY,2006,3,Children
996,GOLDIE,BRODY,DAISY MENAGERIE,2006,14,Sci-Fi
997,GOLDIE,BRODY,DESERT POSEIDON,2006,11,Horror
998,GOLDIE,BRODY,EVERYONE CRAFT,2006,9,Foreign
999,GOLDIE,BRODY,EXORCIST STING,2006,15,Sports

## Exportamos nuestro archivo limpio

In [49]:
data.to_csv('old_HDD_clean.csv', index=False, sep='\t')

In [44]:
data['category'].unique()

array(['Documentary', 'Animation', 'New', 'Games', 'Sci-Fi', 'Classics',
       'Horror', 'Sports', 'Family', 'Children', 'Foreign', 'Comedy',
       'Music', 'Action', 'Travel', 'Drama'], dtype=object)