In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

## Vamos a importar nuestro csv 'old_HDD' para chequear valores nulos o duplicados

In [15]:
data_ori = pd.read_csv('/Users/christelllameda/ironhack/Proyecto-Nro-2/data/csv_originales/old_HDD.csv', encoding='latin1')

data = data_ori.copy()

In [16]:
data

    first_name last_name                  title  release_year  category_id
0     PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1     PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2     PENELOPE   GUINESS            ANGELS LIFE          2006           13
3     PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4     PENELOPE   GUINESS          CHEAPER CLYDE          2006           14
..         ...       ...                    ...           ...          ...
995     GOLDIE     BRODY      COMANCHEROS ENEMY          2006            3
996     GOLDIE     BRODY        DAISY MENAGERIE          2006           14
997     GOLDIE     BRODY        DESERT POSEIDON          2006           11
998     GOLDIE     BRODY         EVERYONE CRAFT          2006            9
999     GOLDIE     BRODY         EXORCIST STING          2006           15

[1000 rows x 5 columns]

In [17]:
nan_cols = data.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

In [18]:
data.duplicated().any()

False

## Observarmos que la columna 'release_year' tiene el mismo valor para todas, por lo que no será relevante en nuestro análisis ya que no podremos filtrar por años

In [19]:
data = data.drop(columns=['release_year'])

## Al tener una columna con el id de la categoría, creamos un diccionario con las distintas categorías para tener en esta tabla

In [20]:
dictio = {1 : 'Action', 2: 'Animation', 3: 'Children', 4: 'Classics', 5: 'Comedy',
          6: 'Documentary',7: 'Drama', 8: 'Family', 9: 'Foreign', 10: 'Games', 11: 'Horror',
          12: 'Music', 13: 'New', 14: 'Sci-Fi', 15: 'Sports', 16: 'Travel'}

## Hacemos una función de map para que según el id de la categoría, nos añada en la nueva columna 'category', la categoría correspondiente a la película

In [21]:
data['category'] = data['category_id'].map(dictio)

In [22]:
data

    first_name last_name                  title  category_id     category
0     PENELOPE   GUINESS       ACADEMY DINOSAUR            6  Documentary
1     PENELOPE   GUINESS   ANACONDA CONFESSIONS            2    Animation
2     PENELOPE   GUINESS            ANGELS LIFE           13          New
3     PENELOPE   GUINESS  BULWORTH COMMANDMENTS           10        Games
4     PENELOPE   GUINESS          CHEAPER CLYDE           14       Sci-Fi
..         ...       ...                    ...          ...          ...
995     GOLDIE     BRODY      COMANCHEROS ENEMY            3     Children
996     GOLDIE     BRODY        DAISY MENAGERIE           14       Sci-Fi
997     GOLDIE     BRODY        DESERT POSEIDON           11       Horror
998     GOLDIE     BRODY         EVERYONE CRAFT            9      Foreign
999     GOLDIE     BRODY         EXORCIST STING           15       Sports

[1000 rows x 5 columns]

## Exportamos nuestro archivo limpio

In [23]:
data.to_csv('old_HDD_clean.csv', index=False, sep='\t')