In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

## Vamos a importar nuestro csv 'old_HDD' para chequear valores nulos o duplicados

In [2]:
data_ori = pd.read_csv('/Users/christelllameda/ironhack/Proyecto-Nro-2/data/old_HDD.csv', encoding='latin1')

data = data_ori.copy()

In [3]:
data.head()

  first_name last_name                  title  release_year  category_id
0   PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1   PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2   PENELOPE   GUINESS            ANGELS LIFE          2006           13
3   PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4   PENELOPE   GUINESS          CHEAPER CLYDE          2006           14

In [4]:
nan_cols = data.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

In [5]:
data.duplicated().any()

False

## Exportamos nuestro archivo limpio

In [9]:
data.to_csv('old_HDD_clean.csv', index=False, sep='\t')