In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

## Vamos a importar nuestro csv 'category' para chequear valores nulos o duplicados

In [2]:
data_ori = pd.read_csv('/Users/christelllameda/ironhack/Proyecto-Nro-2/data/category.csv', encoding='latin1')

data = data_ori.copy()

In [3]:
data.head()

   category_id       name          last_update
0            1     Action  2006-02-15 04:46:27
1            2  Animation  2006-02-15 04:46:27
2            3   Children  2006-02-15 04:46:27
3            4   Classics  2006-02-15 04:46:27
4            5     Comedy  2006-02-15 04:46:27

In [4]:
nan_cols = data.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

In [7]:
data.duplicated().any()

False

## La columna last_update posee los mismos valores para todas las filas, por lo que no es relevante y la eliminamos

In [8]:
data = data.drop(columns=['last_update'])

## Exportamos nuestro archivo limpio

In [9]:
data.to_csv('category_clean.csv', index=False, sep='\t')