In [12]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

## Vamos a importar nuestro csv 'inventory' para chequear valores nulos o duplicados

In [13]:
data_ori = pd.read_csv('/Users/christelllameda/ironhack/Proyecto-Nro-2/data/inventory.csv', encoding='latin1')

data = data_ori.copy()

In [14]:
data.head(5)

   inventory_id  film_id  store_id          last_update
0             1        1         1  2006-02-15 05:09:17
1             2        1         1  2006-02-15 05:09:17
2             3        1         1  2006-02-15 05:09:17
3             4        1         1  2006-02-15 05:09:17
4             5        1         2  2006-02-15 05:09:17

In [15]:
nan_cols = data.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

## Luego de observar que no tenemos nulos ni duplicados, eliminaremos la columna 'last_update' ya que posee el mismo valor para todos y no es un valor relevante

In [16]:
data = data.drop(columns=['last_update'])

## Exportamos nuestro archivo limpio

In [17]:
data.to_csv('inventory_clean.csv', index=False, sep='\t')