In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

## Lo primero que haremos es importar nuestro csv de 'film' para limpiar valores nulos y duplicados

In [11]:
data_ori = pd.read_csv('/Users/christelllameda/ironhack/Proyecto-Nro-2/data/film.csv', encoding='latin1')

data = data_ori.copy()

In [9]:
data.head(5)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,NaN,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,NaN,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,NaN,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,NaN,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

## Chequeamos los valores nulos

In [8]:
nan_cols = data.isna().sum()

nan_cols[nan_cols>0]

original_language_id    1000
dtype: int64

## La Ãºnica columna con valores nulos es la de 'original_language_id' por lo que la eliminaremos

In [13]:
data = data.drop(columns=['original_language_id'])

In [14]:
data.duplicated().any()

False

In [15]:
nan_cols = data.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)