In [2]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

## Importamos nuestro csv 'rental' para chequeo de valores nulos y duplicados

In [3]:
data_ori = pd.read_csv('/Users/christelllameda/ironhack/Proyecto-Nro-2/data/rental.csv', encoding='latin1')

data = data_ori.copy()

In [4]:
data.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53

In [5]:
nan_cols = data.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

## La columna last_update posee los mismos valores para todas las filas, por lo que no es relevante y la eliminamos

In [7]:
data = data.drop(columns=['last_update'])

## Chequeamos que no hay duplicados

In [6]:
data.duplicated().any()

False

## Revisamos la informaci√≥n del espacio que ocupa el csv y optimizamos la memoria

In [8]:
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rental_id     1000 non-null   int64
 1   rental_date   1000 non-null   object
 2   inventory_id  1000 non-null   int64
 3   customer_id   1000 non-null   int64
 4   return_date   1000 non-null   object
 5   staff_id      1000 non-null   int64
dtypes: int64(4), object(2)
memory usage: 179.8 KB

In [9]:
for c in data.select_dtypes(include='integer'):
    
    data[c]=pd.to_numeric(data[c], downcast='integer')
    
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rental_id     1000 non-null   int16
 1   rental_date   1000 non-null   object
 2   inventory_id  1000 non-null   int16
 3   customer_id   1000 non-null   int16
 4   return_date   1000 non-null   object
 5   staff_id      1000 non-null   int8
dtypes: int16(3), int8(1), object(2)
memory usage: 155.4 KB